
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0eaae7;  
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 50%;  
}

h1 { 
  color:  white;
  font-size: 2.3rem;
  text-align: center;
}

p { 
  font-size: 1rem;
  text-align: left;
}

label {
  display: block;
  font-size: 3rem;
  border-radius: 50px;
  margin: 1rem;
  text-align: center;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1rem solid #090de0;
  border-radius: 50px;
}

.addBtn {
  cursor: pointer;
  background-color: rgb(0, 246, 103);
  color: white;
  display: block;
  font-size: 3rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  border-radius: 25px;
  text-align: center;
}

.deleteBtn {
  cursor: pointer;
  background-color: #ff1e05;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  position: absolute;
  top: -0.2rem;
  left: -4.5rem;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.list li {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 8px 0;
  font-size: 1.5rem;
}

.list li:hover .deleteBtn{
  opacity: 1;
}

.list li:hover .doneBtn {
  opacity: 1;
}
.list li.completed {
  border-right: 2rem solid #2ecc71;
}

.list li.uncompleted {
  border-right: 2rem solid #c0392b;
}

.doneBtn {
  cursor: pointer;
  background-color: rgb(23, 36, 3);
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 0.5rem;
  right: -5rem;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
